/* Headings */
.heading-xl {
  font-family: inherit;
  font-size: clamp(2.648rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-lg {
  font-family: inherit;
  font-size: clamp(2.179rem, 5vw, 3.176rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.heading-md {
  font-family: inherit;
  font-size: clamp(1.794rem, 4vw, 2.379rem);
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
}

.heading-sm {
  font-family: inherit;
  font-size: clamp(1.476rem, 3vw, 1.782rem);
  font-weight: 600;
  line-height: 1.5;
}

.heading-xs {
  font-family: inherit;
  font-size: clamp(1.215rem, 2vw, 1.335rem);
  font-weight: 500;
  line-height: 1.5;
}

/* Paragraph */
.paragraph {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.125rem);
  text-wrap: balance;
  color: var(--color-white-200);
}

/* Banner Inner */
.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
  justify-content: center;
  position: relative;
}

/* Swiper Slide Overlay */
.swiper-slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Swiper Pagination */
.swiper-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

/* Carousel */

/* Media Queries */

/* Mobile Devices */

@media (max-width: 768px) {
  .swiper-slide-overlay {
    width: 100%; /* Full width on mobile */
    padding: 1rem;
    text-align: center;
  }

  .swiper-slide {
    height: auto; /* Auto height to fit the image */
    background-size: contain; /* Contain image within slide */
  }

  .carousel {
    height: 60dvh; /* Adjust carousel height on mobile */
  }

  .heading-xl {
    font-size: clamp(1.875rem, 5vw, 3rem);
  }

  .heading-lg {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  .heading-md {
    font-size: clamp(1.25rem, 3.5vw, 2rem);
  }

  .heading-sm {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  .heading-xs {
    font-size: clamp(0.875rem, 2.5vw, 1.125rem);
  }

  .paragraph {
    font-size: clamp(0.875rem, 2vw, 1rem);
  }
}
@media (max-width: 450px) {
  .swiper-slide-overlay {
    width: 100%;
    padding: 0.5rem; /* Smaller padding on very small screens */
    text-align: center;
  }

  .swiper-slide {
    height: auto;
    background-size: contain; /* Ensure the full image is visible */
    background-position: center; /* Center the image */
  }

  .carousel {
    height: 210px; /* Adjust the carousel height for very small devices */
  }

  .heading-xl {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  .heading-lg {
    font-size: clamp(1.25rem, 3.5vw, 2rem);
  }

  .heading-md {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  .heading-sm {
    font-size: clamp(0.875rem, 2.5vw, 1.25rem);
  }

  .heading-xs {
    font-size: clamp(0.75rem, 2vw, 1rem);
  }

  .paragraph {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  }
}
@media (max-width: 400px) {
  .swiper-slide-overlay {
    width: 100%; /* Full width on mobile */
    padding: 0.5rem; /* Less padding for smaller devices */
    text-align: center;
  }

  .swiper-slide {
    height: auto; /* Auto height to fit the image */
    background-size: contain; /* Contain image within slide */
    background-position: center;
  }

  .carousel {
    height: 170px; /* Adjust carousel height on very small mobile */
  }

  .heading-xl {
    font-size: clamp(1.5rem, 4.5vw, 2.5rem); /* Smaller font sizes */
  }

  .heading-lg {
    font-size: clamp(1.25rem, 4vw, 2rem);
  }

  .heading-md {
    font-size: clamp(1.125rem, 3.5vw, 1.75rem);
  }

  .heading-sm {
    font-size: clamp(1rem, 3vw, 1.25rem);
  }

  .heading-xs {
    font-size: clamp(0.75rem, 2.5vw, 1rem);
  }

  .paragraph {
    font-size: clamp(0.75rem, 2vw, 0.875rem); /* Smaller paragraph size */
  }
}
