/* Ensure this CSS is in your login.css or any relevant stylesheet */

.loginforms .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    /* width: 450px; */
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .loginforms ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  .loginforms  .form button {
    align-self: flex-end;
  }
  
  .loginforms .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .loginforms  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative; /* Make sure this is relative for positioning the icon */
    transition: 0.2s ease-in-out;
  }
  
  .loginforms  .loginforms .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .loginforms  .input:focus {
    outline: none;
  }
  
  .loginforms .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .loginforms .loginforms .relative {
    position: relative;
  }
  
  .loginforms .absolute {
    position: absolute;
  }
  
  .loginforms .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .loginforms .loginforms .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .loginforms .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .loginforms  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .loginforms  .button-submit:hover {
    background-color: #252727;
  }
  
  .loginforms .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
 .loginforms .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .loginforms .btn:hover {
    border: 1px solid #2d79f3;
  }
  
  /* Position the eye icon within the password field */
  .loginforms .inputForm .absolute {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  